* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: #050b1e;
    color: white;
    background-image: linear-gradient(rgba(40, 18, 66, 0.1), rgba(0, 0, 0, 0.1)), url(IMG_8282\ \(1\).PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: relative;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to right, #00f2fe, #4facfe, #415ebe);
    -webkit-background-clip: text;
    color: transparent;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav-item {
    font-size: 19px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    right: 40px;
}
.nav-item:hover{
    color: #6bd0ff;
}
.nav-item a {
    color: inherit;
    text-decoration: none;
}

.header-btn {
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: black;
}

.hero {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 100px 20px;
    color: #fff;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: transparent;
    background: linear-gradient(90deg, #00f2fe, #4facfe, #4647b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 1.2em;
    opacity: 0.8;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.hero-buttons .btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}

.btn.primary {
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    color: #111;
}

.btn.secondary {
    background: transparent;
    border: 2px solid #00ffff;
    color: #00ffff;
}

.section {
    position: relative;
    padding: 80px 0;
    text-align: center;
}

.how-it-works {
    position: relative;
    margin: 50px auto;
    padding: 80px 20px;
    max-width: 1000px;
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg, #0a0a0a, #11162a, #0a0a0a);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.2);
}

.how-it-works h2 {
    font-size: 70px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #00ffff, #6bf0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.how-it-works p {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.5em;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature {
    background-color: #16161f;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(130, 246, 250, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.5);
}

.feature h3 {
    margin-bottom: 10px;
    color: #00ffff;
}

.feature p {
    font-size: 0.95em;
    line-height: 1.4em;
    color: #ddd;
}

.contact-section {
    padding: 80px 20px;
    background: linear-gradient(180deg, #050b1e 0%, #0a0a0a 100%);
    text-align: center;
    color: #fff;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #00ffff, #6bf0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact-section p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.contact-section a {
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #00ffff;
    color: #00ffff;
    background: transparent;
    transition: all 0.3s ease;
}

.contact-section a:hover {
    background: linear-gradient(90deg, #00ffff, #4facfe);
    color: #111;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.5);
}

.pricing-section {
    position: relative;
    min-height: calc(100vh - 70px);
    padding: 120px 120px;
}

.pricing-text {
    width: 65%;
}

.pricing-text h1 {
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 35px;

    background: linear-gradient(
        to right,
        #00f2fe,
        #4f60fe,
        #7f00ff
    );

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.pricing-text .desc {
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 24px;
    opacity: 0.9;
}

.pricing-text h3 {
    font-size: 26px;
    margin: 40px 0 18px;
}

.pricing-text ul {
    padding-left: 22px;
}

.pricing-text li {
    font-size: 18px;
    margin-bottom: 12px;
}

.pricing-card {
    position: absolute;
    right: 190px;
    top: 140px;
    width: 460px;
    background: white;
    border-radius: 26px;
    color: black;
    overflow: hidden;
}

.card-top {
    padding: 45px;
    background: linear-gradient(to right, #00f2fe, #4facfe);
    text-align: center;
    color: white;
}

.card-top h2 {
    font-size: 28px;
}

.card-content {
    padding: 40px;
}

.features {
    list-style: none;
    margin-bottom: 30px;
}

.features li {
    font-size: 17px;
    margin-bottom: 16px;
}

.card-content input {
    width: 100%;
    padding: 15px;
    margin-bottom: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.full {
    width: 100%;
    padding: 18px 0;
    font-size: 17px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.full:hover {
    background: linear-gradient(90deg, #00ffff, #4facfe);
    color: #111;
  
      transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.5);
}

.full:active {
    transform: scale(0.96);
}

.feature img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 255, 255, 0.6);
}

.contact-section {
    padding: 80px 20px;
    background: linear-gradient(180deg, #050b1e 0%, #0a0a0a 100%);
    text-align: center;
    color: #fff;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #00ffff, #6bf0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact-section p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.contact-section a {
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #00ffff;
    color: #00ffff;
    background: transparent;
    transition: all 0.3s ease;
}

.contact-section a:hover {
    background: linear-gradient(90deg, #00ffff, #4facfe);
    color: #111;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 255, 255, 0.5);
}

.cede {
     width: 120px;
  height: 120px;
    position: absolute;
    right: 100px;
     z-index: -1;;
     top: 40px;
}

.cosmonavt {

width:800px;
  height:auto;
}


.cepe {
      width: 120px;
  height: 120px;
    position: absolute;
    right: 1400px;
     z-index: -1;;
}

.sput { 
width:900px;
  height:auto;
}